html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 1.6rem;
}
a {
  color: $blue;
  font-family: $font-heading;
  font-weight: $font-body-bold-weight;
  &.hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: $font-body-bold-weight;
  text-align: center;
  color: $blue;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}
/* mobile */
p {
  color: #9b9b9b;
  font-size: 1.4rem;
  font-weight: $font-body-weight;
  line-height: 21px;
}

h1 {
  text-align: center;
  font-size: 2.8rem;
  line-height: 34px;
}
h2 {
  font-size: 2.4rem;
  line-height: 29px;
}
h3 {
  font-size: 2.1rem;
  line-height: 26px;
}
h4 {
  font-size: 1.8rem;
  line-height: 23px;
}
h5 {
  font-size: 1.6rem;
  line-height: 19px;
}
h6 {
  font-size: 1.4rem;
  line-height: 17px;
}
@include media-query($medium-up) {
  /* tablet */
}

@include media-query($large-up) {
  /* desktop */
  p {
    font-size: 1.8rem;
    line-height: 26px;
  }
  h1 {
    font-size: 4rem;
    line-height: 49px;
  }
  h2 {
    font-size: 3.6rem;
    line-height: 44px;
  }
  h3 {
    font-size: 3rem;
    line-height: 37px;
  }

  h4 {
    font-size: 2.4rem;
    line-height: 29px;
  }

  h5 {
    font-size: 2.1rem;
    line-height: 26px;
  }
  h6 {
    font-size: 1.8rem;
    line-height: 23px;
  }
}
